h1{
    color:teal;
    text-align: center;
    border: 5px solid rbg (3, 70, 70);
    background-color: rgb(3, 70, 70);
}
h3{
    color:teal;
    text-align: center;
    border: 5px solid rbg (3, 70, 70);
    background-color: rgb(3, 70, 70);
}
